*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.geral{
    display: flex;
     }

.Cabecalho{
    background-color: aqua;
    text-align: center;
    width: 100%;
    padding: 30px;
    color: black;
}
.texto{
    background-color: aquamarine;
    width: 30%;
    padding: 40px;
}
.todo_meu_site{
    background-color: cadetblue;
    text-align: center;
    width: 40%;
}
button{
   display: grid;
   background-color: brown;
   height: 50px;
   padding: 0 600px 0 0;
   margin: 3px;

}
.rodape{
    background-color: blue;
    text-align: center;
    padding: 10px;
    color: aliceblue;
}